<h2><%= @flat.name %></h2>
<br>

<img src="<%= @flat.img_url %>">

<p>Address: <%= @flat.address %></p>
<p>Description: <%= @flat.description %></p>
<p>Price: <%= @flat.price_per_night %> € / night</p>
<p>Guests: <%= @flat.number_of_guests %></p>

<br>
<%= link_to "< Back", flats_path %> | <%= link_to "Edit", edit_flat_path(@flat) %> | <%= link_to "Delete", flat_path(@flat), method: :delete %>
